@tailwind base;
@tailwind components;
@tailwind utilities;


.overflow-x-auto {
  scrollbar-width: thin; 
  scrollbar-color: rgba(255, 255, 255, 0.4) transparent; 
}

.overflow-x-auto::-webkit-scrollbar {
  height: 8px;  
}

.overflow-x-auto::-webkit-scrollbar-track {
  background: transparent;
}

.overflow-x-auto::-webkit-scrollbar-thumb {
  background-color: rgba(255, 255, 255, 0.4); 
  border-radius: 20px; 
}